<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <array name="globalVariables" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">URL</value>
        <value name="value">https://awsusprod.container.webmethodscloud.com/integration/service/Cldp1015a/IS1/invoke/regexissue:regex</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">mycloud.user</value>
        <value name="value">cldp</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">mycloud.password</value>
        <value name="value">gvhandle.mycloud.password</value>
        <value name="isSecure">true</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">NumberPassword</value>
        <value name="value">gvhandle.NumberPassword</value>
        <value name="isSecure">true</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">numberPlainText</value>
        <value name="value">1234</value>
        <value name="isSecure">false</value>
      </record>
    </array>
  </record>
</IDataXMLCoder>
